.fabon-contact-area form .form-group .form-control{
    padding-left: 0
}
.fabon-contact-area form .form-group textarea.form-control {
    height: 100px;
    resize: none;
}

.is-invalid div{
    font-size: 14px;
    color: red;
    text-align: left;
    padding-top: 5px;
}